@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Monoton', cursive; */

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Lato', sans-serif;}

/* HEADER STYLES */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
}
/* ----------------------------------------------------- */
/* SECTION FREE SHIPPING */
.free-shiping-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.social-media i{
    color: rgb(101, 101, 101);
}
.free-shiping-text{
    width: 60%;
    text-align: center;
}
.free-shiping-text h2{
    font-size: 16px;
    color: rgb(101, 101, 101);
}
.language{
    width: 20%;
    text-align: center;
}
.language select{
    padding: .2rem;
    border: none;
    border-radius: 5px;
}
.language select:hover{
    cursor: pointer;
}
/* ----------------------------------- */
.header-content{
    display: flex;
    /* Se alinea todo a la izquierda pero ajusto los margenes con flex-basis y text-align */
    justify-content: flex-start;
    /* ---------------------------- */
    align-items: center;
    border-top: 2px solid rgba(128, 128, 128, 0.135);
    border-bottom: 2px solid rgba(128, 128, 128, 0.135);
    padding: 1rem 0;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.input{
    flex-basis: 60%;
    padding:0 2rem;
    position: relative;
}
.input input{
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 2px solid #f1caaf;
}
.input::after{
    /* https://stackoverflow.com/questions/19285640/font-awesome-icon-inside-text-input-element */
    /* Dentro de input en position relative agrego font awesome */
    font-family: 'FontAwesome';
    color: grey;
        content: '\f002';
        position: absolute;
        top: .5rem;
        right: 3rem;
}
.header-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 20%;
}
/* ----------------------------------------------------- */
/* NAV STYLES */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: .5rem 0;
}
nav div a{
    text-decoration: none;
    font: 700 16px 'Lato';
    color: #000;
    /* Para mantener el submenu sin que el ratón tenga que estar justo encima de MEN'S */
    display:flex;
    align-items: center;
    min-height: 2rem;
    /* ----------------------------------------------------------------- */
    transition: .2s;
}
nav div a:hover{
    color: #f18491;
}
/* ----------------------------------------------------- */
/* SUBMENU STYLES */
.menu{
    position: relative;
    width: auto;
}
.submenu{
    display: none;
    position: absolute;
    z-index: 5;
    top: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.313);
}
.menu:hover .submenu{
    display: flex;
}
.submenu-a{
    flex-basis: 30%;
}
.submenu-a a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 0;
}
.submenu-img{
    flex-basis: 70%;
    height: 11rem;
    width: 25rem;
    background-image: url(../img/banners/mens-banner.jpg);
    background-size: cover;
    border-radius: 10px;
}
/* ----------------------------------------------------- */
/* MAIN STYLES */
main{
    width: 70%;
    margin: 11.3rem auto 0 auto;
}
.banner{
    width: 100%;
    height: 15rem;
    background-image: url(../img/banners/banner-1.jpg);
    background-size: cover;
    border-radius: 10px;
}
.banner-text{
    padding: 1rem 2rem; 
    width: 35%;
    height: auto;
}
.banner-text h1{
    font: 900 21px 'Lato';
    color: #f18491;
}
.banner-text h3{
    font: normal 24px 'Monoton';
    padding: 1rem 0;
}
.banner-text h4{
    color:grey;
    font: 700 18px 'Lato';
}
.banner-text button{
    color: white;
    font: 700 16px 'Lato';
    background-color: #f18491;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
}
.banner-text button:hover{
    background-color: #b2606a;
    cursor: pointer;
}
/* ----------------------------------------------------- */
/* MAIN GRID STYLES */
.new-products{
    margin: 2rem 0 1rem 0;
}
.new-products-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.138);
    border-radius: 5px;
    padding: .5rem;
}
/* OFERTA EN LA PRIMERA CARD*/
#card1{
    position: relative;
}
.offer{
    position: absolute;
    top: 10px;
    padding: .5rem;
    width: 30%;
    clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
    background-color: #f18491;
    font: 700 14px 'Lato';
    color: white;
}
/* -------------------------------------- */
.product-img img{
    width: 100%;
}
.product-info h4{
    color: #f18491;
    font: 700 14px 'Lato';
}
.product-name{
    color: grey;
    padding: .5rem 0;
}
.product-stars{
    padding: .5rem 0;
}
.product-buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.price div{
    padding-right: .5rem;
    font-weight: 700;
}
.price div:last-child{
    text-decoration: line-through;
    font-weight: normal;
}
.product-button{
    width: 20%;
}
.product-button button{
    width: 100%;
    padding: .2rem .4rem;
    border: none;
    background-color: #fb944f;
    border-radius: 5px;
    color: white;
    font: 700 14px 'Lato';
}
.product-button button:hover{
    cursor: pointer;
    background-color: #d27c42;
}
/* ----------------------------------------------------- */
/* FOOTER STYLES */
footer{
    margin-top: 4rem;
    background-color: black;
    color: white;
}
.footer-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.footer-category{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
.footer-title{
    font: 700 16px 'Lato';
    padding-bottom: .4rem;
    border-bottom: 2px solid #f1caaf;
}
.footer-category a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    padding: .5rem 0;
    border-bottom: 1px solid transparent;
}
.footer-category a:hover{
    color:rgb(202, 202, 202) ;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.payment-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.payment-container img{
    display: block;
    margin: 0 auto;
}
.footer-copyright{
    padding: .5rem 0;
    text-align: center;
}
/* ----------------------------------------------------- */
/* MEDIAQUERIES MOBILE */
@media(max-width:480px){
    /* HEADER */
    .free-shiping-container{
        padding: .3rem;
    }
    .free-shiping-text h2{
        font-size: 9px;
    }
    .header-content{
        flex-direction: column;
    }
    .logo{
        padding-bottom: 1rem;
    }
    .input {
        width: 95%;
        padding: 0 0 1rem 0;
    }
    .input::after{display: none;}
    .input input{width: 100%;}
    .header-icons{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 0 auto;
    }
    nav{
        width: 100%;
    }
    nav div a{
        font: normal 12px 'Lato';
    }
    /* QUITO MENÚ DESPLEGABLE EN MOBILE */
    .menu:hover .submenu{
        display: none;
    }
    /* MAIN */
    .banner{
        display: none;
    }
    .new-products-grid {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }
    /* FOOTER */
    .footer-flex{
        flex-direction: column;
    }
    .footer-category{
        width: 100%;
    }
}
